{% extends 'base_archive.html' %}
{% block title %}
{{ news_item.title }}
{% endblock %}

{% block sidebar %}
<div class="card-body ">
    <a href="{% url 'archive_list' %}" class="btn btn-primary bi-caret-left-fill">Вернуться в архив</a>
</div>
{% endblock %}


{% block content %}
<h1>Архивная новость</h1>
<div class="card mb-3">
    <h5 class="card-header">
        <!--        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category.title }}</a>-->
        Категория: {{ news_item.category.title }}
    </h5>
    <div class="card-body">

        <div class="media">
            {% if news_item.photo %}
            <img src="{{ news_item.photo.url }}" alt="" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text">{{ news_item.content|linebreaks }}</p>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"d.m.Y H:i" }}
    </div>
</div>


{% endblock %}